.container {
	background-image: url('../images/crumpledWhite.jpg');
}

body {
}

header {
	padding-top: 20px;
	margin-right: auto;
	margin-left: auto;
	width:85%;
}

header img {

}

section {
	font-size: 120%;
	background: #00000;
	margin-right: auto;
	margin-left: auto;
	width:85%;
}

section h1 {
  font-size: 200%;
}

div.field, div.actions {
  margin-bottom: 10px;
}

/* Links */
a {
	color: #C5C9CC;
	text-decoration: none;
}

a:hover {
	color: #E0B2AF;
}

a:visited {
	color: #C5C9CC;
}

/* Navigation */
nav {
	font-size: 16px;
	padding-top: 20px;
	float: right;
}

nav ul li {
	list-style-type: none;
	display: inline-block;
}

nav ul li a {
	font-weight: bold;
	padding: 0 5px;
}

nav ul li a:visited {
	color: #C5C9CC;
	padding: 0 5px;
}

nav ul li a:hover {
	font-style: oblique;
	color: #E0B2AF;
}

/* Sign Up Button */
a.signup_button {
	margin-left: auto;
	margin-right: auto;
	display: block;
	text-align: center;
	width: 200px;
	color: #000000;
	background: #C5C9CC;
	font-size: 115%;
	font-weight: bold;
	padding: 15px;
}

a.signup_button:hover {
	color: #E0B2AF;
	display: block;
}

/* Round Corners */
.round {
	=moz-border-radius: 10px;
	-webkit-boder-radius: 10px;
	border-radius: 10px;
}

/* User show page */
table.profile {
  width: 100%;
  margin-bottom: 0;
}

td.main {
  width: 70%;
  padding: 1em;
}

td.sidebar {
  width: 30%;
  padding: 1em;
  vertical-align: top;
  background: #ffc;
}

.profile img.gravatar {
  border: 1px solid #999;
  margin-bottom: -15px;
}

/* Errors */
.field_with_errors {
  margin-top: 10px;
  padding: 2px;
  background-color: red;
  display: table;
}

.field_with_errors label {
  color: #fff;
}

#error_explanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#error_explanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#error_explanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#error_explanation ul li {
  font-size: 12px;
  list-style: square;
}