<header>
	<%= image_tag("CGLogo.png", :alt => "Cakes Galore", :class => "round") %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", '#' %></li>
			<li><%= link_to "Shop", '#' %></li>
			<li><%= link_to "Log In", '#' %></li>
		</ul>
	</nav>
</header>