<header>
	<% logo = image_tag("logo.png", :alt => "DoOdLeD", :class => "round") %>
	<%= link_to logo, root_path %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Profile", profile_path %></li>
			<li><%= link_to "Log In", '#' %></li>
		</ul>
	</nav>
</header>