<header>
	<% logo = image_tag("CGLogo.png", :alt => "Cakes Galore", :class => "round") %>
	<%= link_to logo, root_path %>
	<nav class="round">
		<ul>
			<li><%= link_to "Home", root_path %></li>
			<li><%= link_to "Shop", shop_path %></li>
			<li><%= link_to "Log In", '#' %></li>
		</ul>
	</nav>
</header>